*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 100px;
    font-family: gilroy;
    font-weight: 800;
    position: relative;
}

h1::after{
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    bottom: 0;
    background-color: #000;
    left: 0;
}

h1:hover::after{
    animation-name: lineanime;
    animation-duration: 2s;
    cursor: pointer;
}

@keyframes lineanime {
    0%{
        width: 0;
        left: 0;
    }
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}